node_modules/
.next/
out/
build/
coverage/
.turbo/
.vercel/
package-lock.json
next-env.d.ts
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/worker-*.js
public/worker-*.js.map
*.tsbuildinfo
